/* Projects */
.projects .container {
    display: flex;
    flex-direction: column;
  }
  .projects h2 {
    justify-self: flex-start;
    align-self: flex-start;
    color: var(--main-color);
    text-align: left;
    text-transform: capitalize;
    box-sizing: border-box;
    font-family: var(--secondary-font-family);
    font-size: 40px;
    font-weight: 600;
    margin-block-start: 0px;
    margin-block-end: 20px;
    line-height: 50px;
    letter-spacing: 1px;
  }
  .project {
    position: relative;
    margin-block: 5%;
    gap: 20px;
    display: flex;
  }
  .project .project-info {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .project h3 {
    color: var(--main-white-color);
    font-size: 30px;
    font-weight: 500;
    font-family: var(--main-font-family);
    line-height: 30px;
    padding-block-end: 10px;
    letter-spacing: 1px;
  }
  .project-info p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.1px;
    padding: 10px 10px;
    text-align: justify;
    margin-block: 15px;
    color: var(--main-white-color);
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .project-info p mark {
    color: var(--main-color);
    background-color: var(--transparent-color);
  }
  .project-info .tech-stack {
    justify-self: flex-end;
    height: 100%;
    color: var(--main-color);
  }
  .tech-stack span {
    display: inline-block;
    padding-inline: 3px;
  }
  .tech-stack span:hover {
    display: inline-block;
    color: var(--main-white-color);
  }
  .project-info a {
    font-size: 18px;
    display: inline-block;
    margin-inline-end: 15px;
    padding: 15px;
    text-align: center;
    width: 16px;
    height: 20px;
    color: var(--main-white-color);
  }
  .project-info a:hover i {
    color: var(--main-color);
  }
  .projects .project .project-img {
    border: 5px solid var(--secondary-bg-color);
    width: 50%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: 100%;
    width: 100%;
  }
  .icon {
    display: none;
  }
  .toggle {
    margin: 20px;
    color: #eee;
    font-size: 18px;
    border: 1px solid #eee;
    padding: 0px 5px;
    border-radius: 4px;
    cursor: pointer;
  }