header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--hover-secondary-bg-color);
  height: 80px;
  color: var(--main-white-color);
}
.logo {
  align-self: center;
  margin-inline-start: 2%;
}
.logo span {
  font-size: 22px;
  font-weight: 500;
  font-family: var(--secondary-font-family);
}
nav {
  margin-inline-end: 2%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
ul.nav-list li {
  color: var(--main-white-color);
}
ul.nav-list li.active {
  color: var(--main-color);
}
ul.nav-list li a {
  color: inherit;
  position: relative;
  display: inline-block;
  padding: 8px 4px;
  margin-inline: 10px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 15px;
  font-family: var(--main-font-family);
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1px;
}

ul.nav-list li a {
  /* color: var(--main-color); */
  color: inherit;
}
ul.nav-list li a::after {
  content: " ";
  width: 0%;
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  bottom: 0;
  left: 0;
  transition-property: width;
  transition-duration: 600ms;
  transition-timing-function: ease;
  transition-delay: 0;
}
ul.nav-list li a:hover::after {
  width: 100%;
}
ul.nav-list li:last-child a {
  padding: 8px 10px;
  margin-inline: 0px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
ul.nav-list li:last-child a:hover::after {
  width: 0%;
}
ul.nav-list li:last-child:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: var(--hover-bg-color);
}
li {
  list-style-type: none;
}
.icon {
  display: none;
}
.toggle {
  margin: 20px;
  color: #eee;
  font-size: 18px;
  border: 1px solid #eee;
  padding: 0px 5px;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: 380px) {
  /* Navbar */
  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 80px;
  }
  .logo {
    width: 80%;
    align-self: center;
    margin-inline-start: 2%;
  }
  .logo span {
    font-size: 22px;
  }
  li {
    list-style-type: none;
  }
  nav {
    width: 50%;
    margin-inline-end: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  .icon {
    margin-right: 5px;
    width: 20%;
    text-align: right;
    display: block;
    position: relative;
    outline: none;
    border: var(--transparent-color);
  }
  .icon span {
    padding: 5px;
    font-size: 20px;
    color: var(--main-white-color);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .nav-list {
    padding: 10px;
    position: absolute;
    text-align: right;
    top: 63px;
    right: 0px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--main-bg-color);
    gap: 0px;
    width: 100%;
    display: none;
  }
  .responsive {
    display: block;
  }
  .activeBtn {
    background-color: var(--main-bg-color);
  }
  ul.nav-list li {
    text-align: right;
    margin-block: 3px;
  }
  ul.nav-list li a {
    padding: 8px 0px;
    margin-inline: 0px;
    font-size: 15px;
  }
  .active {
    color: var(--main-color);
  }
  ul.nav-list li a:hover::after {
    width: 100%;
  }
  ul.nav-list li:last-child a {
    border: none;
    border: 0px;
    padding: 8px 0px;
    color: var(--main-color);
    margin-inline: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  ul.nav-list li:last-child:hover {
    background-color: var(--transparent-color);
  }
}
@media screen and (min-width: 380px) and (max-width: 577px) {
  /* Navbar */
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    height: 80px;
  }
  .logo {
    align-self: center;
    width: 80%;
    margin-inline-start: 2%;
  }
  .logo span {
    font-size: 22px;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-inline-end: 2%;
  }
  li {
    list-style-type: none;
  }
  /* ----------- */
  nav {
    width: 50%;
    margin-inline-end: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  .icon {
    margin-right: 5px;
    width: 20%;
    text-align: right;
    display: block;
    position: relative;
    outline: none;
    border: var(--transparent-color);
  }
  .icon span {
    padding: 5px;
    font-size: 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .nav-list {
    position: absolute;
    text-align: right;
    top:63px;
    right: 0px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--hover-secondary-bg-color);
    gap: 0px;
    width: 100%;
    display: none;
  }
  .responsive {
    display: block;
  }
  ul.nav-list li a {
    padding: 8px 4px;
    margin-inline: 10px;
    font-size: 15px;
    color: var(--main-white-color);
    box-sizing: border-box;
    text-decoration: none;
  }
  ul.nav-list li a:hover::after{
    width: 100%;
  }
  ul.nav-list li:last-child a {
    padding: 4px 0px;
    border: none;
    margin-inline: 10px;
    color: var(--main-color);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
  ul.nav-list li:last-child:hover {
    background-color: var(--transparent-color);
  }
}
@media screen and (min-width: 560px) and (max-width: 577px) {
    /* Navbar */
    .logo span {
      font-size: 22px;
    }
    ul.nav-list li a {
      font-size: 15px;
    }
    ul.nav-list li:last-child a {
      padding: 4px 0px;
      margin-inline: 10px;
      border: 0px solid var(--main-color);
      color: var(--main-color);
      border-radius:0px;
      -webkit-border-radius:0px;
      -moz-border-radius:0px;
      -ms-border-radius:0px;
      -o-border-radius:0px;
    }
}
@media screen and (min-width: 578px) and (max-width: 770px) {
  /* Navbar */
  .logo span {
    font-size: 22px;
  }
  ul.nav-list li a {
    font-size: 13px;
  }
  ul.nav-list li:last-child a {
    padding: 4px 6px;
    margin-inline: 0px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}
@media screen and (min-width: 770px) and (max-width: 1100px) {
  /* About Section */
  section .container {
    width: 85%;
    margin: auto;
  }
  
}
@media screen and (min-width: 1100px) and (max-width: 1220px) {
  ul.nav-list li:last-child a {
    padding: 4px 6px;
    font-size: 12px;
    margin-inline: 0px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}