

/* Contact */
.contact {
  padding-top: 0px;
}
.contact .container {
  padding-block: 50px;
  width: 85%;
  margin: auto;
}
.contact h2 {
  color: var(--main-color);
  text-align: center;
  text-transform: capitalize;
  box-sizing: border-box;
  font-family: var(--secondary-font-family);
  font-size: 40px;
  font-weight: 600;
  margin-block-start: 0px;
  margin-block-end: 25px;
  line-height: 50px;
  letter-spacing: 1px;
}
.contact p {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-block-start: 0px;
  margin-block-end: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  font-family: var(--main-font-family);
  color: var(--main-white-color);
}
.contact-sections {
  display: flex;
  justify-content: space-between;
}
.contact-form {
  width: 50%;
  margin-inline: auto;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name-email-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.name-email-input .control-form {
  width: 48%;
  padding: 0;
  margin: 0;
}
.contact-form .name-email-input input {
  width: 100%;
}
.contact-form input.subject-input {
  width: 100%;
}
.contact-form input,
.contact-form textarea {
  padding-inline: 10px;
  width: 100%;
  box-sizing: border-box;
  padding-block: 15px;
  background-color: var(--secondary-bg-color);
  margin-block: 15px;
}
.control-form {
  position: relative;
}
.control-form label {
  position: absolute;
  font-family: var(--main-font-family);
  font-size: 14px;
  top: 30px;
  left: 15px;
  color: #cabebe;
  display: block; 
  background-color: var(--transparent-color);
  transition: all 0.2s ease-in;
}
.control-form input:focus-visible + label,
.control-form textarea:focus-visible + label,
.control-form input:not(:placeholder-shown) + label,
.control-form textarea:not(:placeholder-shown) + label {
  position: absolute;
  top: -4px;
  left: 4px;
}
input:focus-visible,
textarea:focus-visible {
  border-bottom: 2px solid var(--main-color);
  outline: none;
}
input:placeholder-shown,
textarea:placeholder-shown {
  color: var(--main-white-color);
}
input,
textarea {
  color: var(--main-white-color);
  font-family: var(--main-font-family);
}
input::placeholder,
textarea::placeholder {
  margin-block: 8px;
}
input:focus-visible,
textarea:focus-visible {
  border-bottom: 2px solid var(--main-color);
  outline: none;
}
input:placeholder-shown,
textarea:placeholder-shown {
  color: var(--main-white-color);
}
input,
textarea {
  color: var(--main-white-color);
  font-family: var(--main-font-family);
  border: 0px;
}
input::placeholder,
textarea::placeholder {
  color: var(--transparent-color);
}
.contact button {
  border: 0px;
  font-size: 15px;
  width: 30%;
  padding: 20px;
  align-self: center;
  margin-block-start: 15px;
  color: var(--secondary-bg-color);
  font-weight: 600;
  background-color: var(--main-color);
}
button:hover,
button:active {
  background-color: var(--hover-bg-color);
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.contact-list {
  color: var(--main-white-color);
}
/* Contact List Fixed */
.contact-list {
  color: var(--main-white-color);
  position: fixed;
  bottom: 30px;
  left: 10px;
  width: 40px;
}
.contact-list li a {
  font-size: 17px;
  display: inline-block;
  padding: 10px;
  width: 16px;
  height: 18px;
  color: var(--main-white-color);
  transition-property: transform, background-color;
  transition-duration: 600ms;
  transition-timing-function: ease;
}
.contact-list li {
  padding-block: 5px;
}
.contact-list li a:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  color: var(--main-color);
}
/* Footer */
.copy-right {
  text-align: center;
  color: var(--main-white-color);
  box-sizing: border-box;
  font-family: var(--main-font-family);
  font-size: 15px;
  font-weight: 500;
  margin-block-start: 60px;
  margin-block-end: 0px;
  line-height: 100px;
  letter-spacing: 1px;
}
/* Projects */
.projects .container {
  display: flex;
  flex-direction: column;
}
.projects h2 {
  justify-self: flex-start;
  align-self: flex-start;
  color: var(--main-color);
  text-align: left;
  text-transform: capitalize;
  box-sizing: border-box;
  font-family: var(--secondary-font-family);
  font-size: 40px;
  font-weight: 600;
  margin-block-start: 0px;
  margin-block-end: 20px;
  line-height: 50px;
  letter-spacing: 1px;
}
.project {
  position: relative;
  margin-block: 5%;
  gap: 20px;
  display: flex;
}
.project .project-info {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.project h3 {
  color: var(--main-white-color);
  font-size: 30px;
  font-weight: 500;
  font-family: var(--main-font-family);
  line-height: 30px;
  padding-block-end: 10px;
  letter-spacing: 1px;
}
.project-info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.1px;
  padding: 10px 10px;
  text-align: justify;
  margin-block: 15px;
  color: var(--main-white-color);
  background-color: var(--secondary-bg-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.project-info p mark {
  color: var(--main-color);
  background-color: var(--transparent-color);
}
.project-info .tech-stack {
  justify-self: flex-end;
  height: 100%;
  color: var(--main-color);
}
.tech-stack span {
  display: inline-block;
  padding-inline: 3px;
}
.tech-stack span:hover {
  display: inline-block;
  color: var(--main-white-color);
}
.project-info a {
  font-size: 18px;
  display: inline-block;
  margin-inline-end: 15px;
  padding: 15px;
  text-align: center;
  width: 16px;
  height: 20px;
  color: var(--main-white-color);
}
.project-info a:hover i {
  color: var(--main-color);
}
.projects .project .project-img {
  border: 5px solid var(--secondary-bg-color);
  width: 50%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  height: 100%;
  width: 100%;
}
.icon {
  display: none;
}
.toggle {
  margin: 20px;
  color: #eee;
  font-size: 18px;
  border: 1px solid #eee;
  padding: 0px 5px;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: 380px) {
  /* Navbar */
  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 80px;
  }
  .logo {
    width: 80%;
    align-self: center;
    margin-inline-start: 2%;
  }
  .logo span {
    font-size: 22px;
  }
  li {
    list-style-type: none;
  }
  nav {
    width: 50%;
    margin-inline-end: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  .icon {
    margin-right: 5px;
    width: 20%;
    text-align: right;
    display: block;
    position: relative;
    outline: none;
    border: var(--transparent-color);
  }
  .icon span {
    padding: 5px;
    font-size: 20px;
    color: var(--main-white-color);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .nav-list {
    padding: 10px;
    position: absolute;
    text-align: right;
    top: 63px;
    right: 0px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--main-bg-color);
    gap: 0px;
    width: 100%;
    display: none;
  }
  .responsive {
    display: block;
  }
  .activeBtn {
    background-color: var(--main-bg-color);
  }
  ul.nav-list li {
    text-align: right;
    margin-block: 3px;
  }
  ul.nav-list li a {
    padding: 8px 0px;
    margin-inline: 0px;
    font-size: 15px;
  }
  .active {
    color: var(--main-color);
  }
  ul.nav-list li a:hover::after {
    width: 100%;
  }
  ul.nav-list li:last-child a {
    border: none;
    border: 0px;
    padding: 8px 0px;
    color: var(--main-color);
    margin-inline: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  ul.nav-list li:last-child:hover {
    background-color: var(--transparent-color);
  }
  /* Hero Section */
  section .container {
    padding-top: 0px;
    width: 80%;
    margin-inline: auto;
  }
  .home {
    height: 510px;
  }
  .home .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .header-info {
    margin-top: 10px;
    padding-top: 0;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .own-img {
    width: 100%;
    width: 300px;
    max-width: 300px;
    align-self: center;
    padding-inline-end: 10px;
    padding-block-start: 20px;
    margin-block-end: 30px;
  }
  .own-img img {
    height: 100%;
    width: 100%;
  }
  .home p {
    margin-block-start: 0px;
    line-height: 27.2px;
    letter-spacing: 0.1px;
  }
  .home .top-title {
    font-size: 20px;
    margin-block-end: 0px;
  }
  .home .desc {
    font-size: 18px;
    margin-block-end: 0px;
  }
  .home .title {
    font-size: 28px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    line-height: 50px;
    letter-spacing: 1px;
    width: 100%;
  }
  section a.contact-btn {
    align-self: flex-start;
    margin-inline-start: 0px;
    margin-block: 10px;
    padding: 15px 20px;
  }
  /* About Section */
  section.about {
    padding-top: 170px;
    padding-bottom: 20px;
  }
  section.about .container {
    width: 90%;
    margin: auto;
  }
  .about-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .about-me {
    padding: 20px 15px 15px;
    width: 100%;
    margin: 0;
    background-color: var(--secondary-bg-color);
  }
  .about h2 {
    padding-inline-start: 16px;
    text-align: left;
    font-size: 30px;
    margin-block-start: 0px;
    margin-block-end: 10px;
    line-height: 45px;
    letter-spacing: 1px;
  }
  .about-me p,
  .skills li {
    font-size: 10px;
    margin-block-start: 0px;
    margin-block-end: 20px;
    line-height: 17px;
    letter-spacing: 0.1px;
  }
  .about-me p {
    width: 100%;
  }
  .skills {
    width: 100%;
    margin: 0;
    padding: 20px 15px 15px;
  }
  .skills li {
    font-size: 13px;
    padding: 8px;
    margin: 5px;
  }
  .skills li span {
    padding-inline-start: 4px;
  }
  /* Contact */
  .contact .container {
    padding-block: 50px 10px;
    width: 75%;
    margin: auto;
  }
  .contact-sections {
    display: flex;
    justify-content: space-between;
  }
  .contact-form {
    width: 100%;
    margin-inline: auto;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .name-email-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .name-email-input .control-form {
    width: 100%;
  }
  .contact-form .name-email-input input {
    width: 100%;
  }
  .contact h2{
    font-size: 35px;
    margin-block-end: 10px;
  }
  .contact p {
    font-size: 12px;
    margin-block-end: 0px;
  }
  .contact button {
    font-size: 14px;
    width: 50%;
    padding: 10px;
  }
  .contact-sections {
    display: flex;
    justify-content: space-between;
  }
  .contact-form {
    width: 100%;
    margin-inline: auto;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .name-email-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .name-email-input label {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .contact-form .name-email-input input {
    width: 100%;
  }
  .contact-form input.subject-input {
    width: 100%;
  }
  /* Contact List Fixed */
  .contact-list {
    padding-top: 20px;
    position: static;
    width: 50%;
    margin: auto;
  }
  .contact-list ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .contact-list li a {
    font-size: 17px;
    display: inline-block;
    padding: 5px;
    width: 16px;
    height: 18px;
  }
  /* Footer */
  .copy-right {
    color: var(--main-white-color);
    font-size: 10px;
    margin-block-start: 15px;
    margin-block-end: 0px;
    line-height: 40px;
    letter-spacing: 1px;
  }
  /* Projects */
  .projects .container {
    display: flex;
    flex-direction: column;
  }
  .projects h2 {
    font-size: 30px;
    font-weight: 600;
    margin-block-start: 0px;
    margin-block-end: 25px;
    line-height: 40px;
    letter-spacing: 1px;
  }
  .project {
    margin-block: 50px;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .project .project-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg-color);
    padding: 10px 15px;
  }
  .project h3 {
    color: var(--main-white-color);
    font-size: 20px;
    font-weight: 500;
    font-family: var(--main-font-family);
    line-height: 25px;
    padding-block-end: 10px;
    letter-spacing: 1px;
  }
  .project-info p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-block: 15px;
  }
  .project-info .tech-stack {
    justify-self: flex-end;
    font-size: 14px;
    height: 100%;
    color: var(--main-color);
  }
  .tech-stack span {
    display: inline-block;
    padding-inline: 3px;
  }
  .project-info a i {
    font-size: 12px;
    padding: 5px;
    width: 16px;
    height: 18px;
  }
  .projects .project .project-img {
    width: 100%;
  }
  img {
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 380px) and (max-width: 577px) {
  /* Navbar */
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    height: 80px;
  }
  .logo {
    align-self: center;
    width: 80%;
    margin-inline-start: 2%;
  }
  .logo span {
    font-size: 22px;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-inline-end: 2%;
  }
  li {
    list-style-type: none;
  }
  /* ----------- */
  nav {
    width: 50%;
    margin-inline-end: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  .icon {
    margin-right: 5px;
    width: 20%;
    text-align: right;
    display: block;
    position: relative;
    outline: none;
    border: var(--transparent-color);
  }
  .icon span {
    padding: 5px;
    font-size: 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .nav-list {
    position: absolute;
    text-align: right;
    top:63px;
    right: 0px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--hover-secondary-bg-color);
    gap: 0px;
    width: 100%;
    display: none;
  }
  .responsive {
    display: block;
  }
  ul.nav-list li a {
    padding: 8px 4px;
    margin-inline: 10px;
    font-size: 15px;
    color: var(--main-white-color);
    box-sizing: border-box;
    text-decoration: none;
  }
  ul.nav-list li a:hover::after{
    width: 100%;
  }
  ul.nav-list li:last-child a {
    padding: 4px 0px;
    border: none;
    margin-inline: 10px;
    color: var(--main-color);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
  ul.nav-list li:last-child:hover {
    background-color: var(--transparent-color);
  }
  /* Home Section */
  section .container {
    padding-top: 5px;
    width: 70%;
    margin-inline: auto;
  }
  .home .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .header-info {
    margin-top: 10px;
    padding-top: 0;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .own-img {
    width: 100%;
    width: 300px;
    max-width: 300px;
    align-self: center;
    padding-inline-end: 10px;
    padding-block-start: 20px;
    margin-block-end: 30px;
  }
  .own-img img {
    height: 100%;
    width: 100%;
  }
  .home p {
    margin-block-start: 0px;
    line-height: 27.2px;
    letter-spacing: 0.1px;
  }
  .home .top-title {
    font-size: 20px;
    margin-block-end: 10px;
  }
  .home .desc {
    font-size: 20px;
    margin-block-end: 0px;
  }
  .home .title {
    font-size: 28px;
    margin-block-start: 10px;
    margin-block-end: 20px;
    line-height: 50px;
    letter-spacing: 1px;
    width: 100%;
  }
  section a.contact-btn {
    align-self: flex-start;
    margin-inline-start: 0px;
    margin-block: 30px;
    padding: 15px 20px;
  }
  /* About Section */
  section.about {
    padding-top: 120px;
    padding-bottom: 60px;
  }
  section.about .container {
    width: 80%;
    margin: auto;
  }
  .about-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .about-me {
    padding: 20px 15px 15px;
    width: 100%;
    margin: auto;
    background-color: var(--secondary-bg-color);
  }
  .about h2 {
    padding-inline-start: 16px;
    text-align: left;
    font-size: 30px;
    margin-block-start: 0px;
    margin-block-end: 25px;
    line-height: 45px;
    letter-spacing: 1px;
  }
  .about-me p,
  .skills li {
    font-size: 12px;
    margin-block-start: 0px;
    margin-block-end: 20px;
    line-height: 20px;
    letter-spacing: 0.1px;
  }
  .about-me p {
    width: 100%;
  }
  .skills {
    width: 100%;
    margin: auto;
    padding: 20px 15px 15px;
  }
  .skills li {
    font-size: 13px;
    padding: 8px;
    margin: 5px;
  }
  .skills li span {
    padding-inline-start: 4px;
  }
  /* Contact */
  .contact .container {
    padding-block: 0px 10px;
    width: 78%;
    margin: auto;
  }
  .contact-sections {
    display: flex;
    flex-direction: column;
  }
  .contact-form {
    width: 100%;
  }
  .name-email-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .name-email-input .control-form {
    width: 100%;
  }
  .contact-form .name-email-input input {
    width: 100%;
  }
  .contact-form input.subject-input {
    width: 100%;
  }
  .contact h2 {
    font-size: 35px;
  }
  .contact p {
    font-size: 16px;
  }
  .contact button {
    font-size: 14px;
    width: 40%;
    padding: 10px;
  }
  /* Contact List Fixed */
  .contact-list {
    position: fixed;
    bottom: 30px;
    left: 10px;
    width: 40px;
  }
  .contact-list li a {
    font-size: 17px;
    display: inline-block;
    padding: 5px;
    width: 16px;
    height: 18px;
  }
  /* Footer */
  .copy-right {
    color: var(--main-white-color);
    font-size: 12px;
    margin-block-start: 30px;
    margin-block-end: 0px;
    line-height: 40px;
    letter-spacing: 1px;
  }
  /* Projects */
  .projects .container {
    display: flex;
    flex-direction: column;
  }
  .projects h2 {
    font-size: 30px;
    font-weight: 600;
    margin-block-start: 0px;
    margin-block-end: 25px;
    line-height: 40px;
    letter-spacing: 1px;
  }
  .project {
    margin-block: 50px;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .project .project-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg-color);
    padding: 10px 15px;
  }
  .project h3 {
    color: var(--main-white-color);
    font-size: 20px;
    font-weight: 500;
    font-family: var(--main-font-family);
    line-height: 25px;
    padding-block-end: 10px;
    letter-spacing: 1px;
  }
  .project-info p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-block: 15px;
  }
  .project-info .tech-stack {
    justify-self: flex-end;
    font-size: 14px;
    height: 100%;
    color: var(--main-color);
  }
  .tech-stack span {
    display: inline-block;
    padding-inline: 3px;
  }
  .project-info a i {
    font-size: 12px;
    padding: 5px;
    width: 16px;
    height: 18px;
  }
  .projects .project .project-img {
    width: 100%;
  }
  img {
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 560px) and (max-width: 577px) {
    /* Navbar */
    .logo span {
      font-size: 22px;
    }
    ul.nav-list li a {
      font-size: 15px;
    }
    ul.nav-list li:last-child a {
      padding: 4px 0px;
      margin-inline: 10px;
      border: 0px solid var(--main-color);
      color: var(--main-color);
      border-radius:0px;
      -webkit-border-radius:0px;
      -moz-border-radius:0px;
      -ms-border-radius:0px;
      -o-border-radius:0px;
    }
}
@media screen and (min-width: 578px) and (max-width: 770px) {
  /* Navbar */
  .logo span {
    font-size: 22px;
  }
  ul.nav-list li a {
    font-size: 13px;
  }
  ul.nav-list li:last-child a {
    padding: 4px 6px;
    margin-inline: 0px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  /* Hero Section */
  section .container {
    width: 80%;
    margin: auto;
  }
  .home .container {
    display: flex;
    justify-content: center;
  }
  .header-info {
    margin-top: 0px;
    text-align: left;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .own-img {
    width: 50%;
    width: 300px;
    max-width: 300px;
    align-self: center;
  }
  .own-img img {
    height: 100%;
    width: 100%;
  }
  .home p {
    margin-block-start: 0px;
    line-height: 27.2px;
    letter-spacing: 0.1px;
  }
  .home .top-title {
    font-size: 20px;
    margin-block-end: 10px;
  }
  .home .desc {
    font-size: 20px;
    margin-block-end: 0px;
  }
  .home .title {
    font-size: 30px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    line-height: 50px;
    letter-spacing: 1px;
    width: 100%;
  }
  section a.contact-btn {
    align-self: self-start;
    margin-inline-start: 0px;
    margin-block: 30px;
    padding: 15px 20px;
  }
  /* About Section */
  section.about {
    padding-bottom: 20px;
    padding-top: 0px;
    padding-bottom: 10px;
    height: calc(100vh - 80px);
  }
  section.about .container {
    width: 100%;
    margin: auto;
    padding-top: 50px;
  }
  .about-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .about-me {
    padding: 20px 15px 15px;
    width: 80%;
    margin: auto;
    background-color: var(--secondary-bg-color);
  }
  .about h2 {
    padding-inline-start: 10px;
    text-align: left;
    font-size: 30px;
    margin-block-start: 0px;
    margin-block-end: 10px;
    line-height: 40px;
    letter-spacing: 1px;
  }
  .about-me p,
  .skills li {
    font-size: 12px;
    margin-block-start: 0px;
    margin-block-end: 15px;
    line-height: 20px;
    letter-spacing: 0.1px;
  }
  .about-me p {
    width: 100%;
  }
  .skills {
    width: 80%;
    margin: auto;
    padding: 20px 15px 15px;
  }
  .skills li {
    font-size: 13px;
    padding: 4px;
    margin: 5px;
  }
  .skills li span {
    padding-inline-start: 4px;
  }
  /* Contact */
  .contact .container {
    padding-block: 200px 10px;
    width: 85%;
    max-width: 466px;
    margin: auto;
  }
  .contact-sections {
    display: flex;
    flex-direction: column;
  }
  .contact-form {
    width: 100%;
  }
  .contact h2 {
    font-size: 35px;
  }
  .contact p {
    font-size: 16px;
  }
  .contact button {
    font-size: 12px;
    width: 30%;
    padding: 10px;
  }
  /* Projects */
  .projects .container {
    display: flex;
    flex-direction: column;
  }
  .projects h2 {
    font-size: 30px;
    font-weight: 600;
    margin-block-start: 0px;
    margin-block-end: 25px;
    line-height: 40px;
    letter-spacing: 1px;
  }
  .project {
    margin-block: 50px;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .project .project-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg-color);
    padding: 10px 15px;
  }
  .project h3 {
    color: var(--main-white-color);
    font-size: 25px;
    font-weight: 500;
    font-family: var(--main-font-family);
    line-height: 25px;
    padding-block-end: 5px;
    letter-spacing: 1px;
  }
  .project-info p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-block: 15px;
    background-color: var(--secondary-bg-color);
  }
  .project-info .tech-stack {
    justify-self: flex-end;
    height: 100%;
    color: var(--main-color);
  }
  .tech-stack span {
    display: inline-block;
    padding-inline: 3px;
  }
  .project-info a i {
    font-size: 14px;
    display: inline-block;
    padding: 10px;
    width: 16px;
    height: 18px;
    color: hsl(236, 40%, 16%);
    color: var(--main-color);
  }
  .projects .project .project-img {
    width: 100%;
  }
  img {
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 770px) and (max-width: 1100px) {
  .home .top-title {
    font-size: 30px;
    margin-block-end: 10px;
  }
  .home .desc {
    font-size: 22px;
    margin-block-end: 0px;
  }
  .home .title {
    font-size: 40px;
    margin-block-start: 10px;
    margin-block-end: 20px;
    line-height: 70px;
    letter-spacing: 1px;
    width: 100%;
  }
  .own-img {
    width: 60%;
    max-width: 300px;
    align-self: center;
  }
  /* About Section */
  section.about {
    padding-top: 0px;
    padding-bottom: 60px;
  }
  section .container {
    width: 85%;
    margin: auto;
  }
  .about-sections {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-family: var(--main-font-family);
    color: var(--main-white-color);
  }
  .about-me {
    padding: 30px 20px 0px;
    width: 65%;
    background-color: var(--secondary-bg-color);
  }
  .about h2 {
    text-align: left;
    text-transform: capitalize;
    box-sizing: border-box;
    font-family: var(--secondary-font-family);
    color: var(--main-color);
    font-size: 30px;
    font-weight: 600;
    margin-block-start: 0px;
    margin-block-end: 25px;
    line-height: 40px;
    letter-spacing: 1px;
  }
  .about-me p,
  .skills li {
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
    margin-block-start: 0px;
    margin-block-end: 15px;
    line-height: 20px;
    letter-spacing: 0.1px;
  }
  .about-me p {
    width: 100%;
  }
  .about .anchors-in-paragraph {
    color: var(--main-color);
    box-sizing: border-box;
    font-weight: 600;
  }
  .skills {
    width: 35%;
    background-color: var(--secondary-bg-color);
    padding: 10px 5px;
  }
  .skills ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .skills li {
    font-size: 13px;
    line-height: 23px;
    padding: 4px;
    margin: 5px;
  }
  .skills li span {
    padding-inline-start: 4px;
  }
  .skills li i {
    color: var(--main-color);
  }
  /* Contact */
  .contact .container {
    padding-block: 10px 10px;
  }
  .contact-sections {
    display: flex;
    flex-direction: column;
  }
  .contact-form {
    width: 80%;
    max-width: 466px;
    margin: auto;
  }
  .contact-me {
    height: 100%;
    width: fit-content;
    padding-top: 50px;
    align-self: center;
    padding-bottom: 10px;
    justify-self: center;
  }
  .contact button {
    font-size: 14px;
    width: 30%;
    padding: 10px;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1220px) {
  .home .top-title {
    font-size: 40px;
    margin-block-end: 10px;
  }
  .home .desc {
    font-size: 40px;
    margin-block-end: 0px;
  }
  .home .title {
    font-size: 60px;
    margin-block-start: 10px;
    margin-block-end: 20px;
    line-height: 70px;
    letter-spacing: 1px;
    width: 100%;
  }
  .contact button,
  button {
    font-size: 14px;
    width: 30%;
    padding: 10px;
    font-size: 13px;
  }
  ul.nav-list li:last-child a {
    padding: 4px 6px;
    font-size: 12px;
    margin-inline: 0px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}
